doctype html
html
  head
   style
    include ../public/stylesheets/raspin-main.css
    include ../public/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.css
    include ../public/javascripts/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css
    include ../public/javascripts/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css
  body
   script(src="/javascripts/jquery-3.1.1.js")
   script(src="/javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")
   script(src="/javascripts/frame_of_ui.js")
   script(src="/javascripts/frame_of_process.js")
   script(src="/javascripts/frame_of_if.js")
   // - div(class='div-class', (click)='play()')
   div#main
   div#console_div
   div#dialog_space
     