extends frame_of_if_common.pug
block contents
    div.if_number&attributes({"style":"text-align:right;vertical-align:bottom;"})
        span&attributes({"id":if_name+"/data","class":"num contents ", "scale":""+scale})
        span&attributes({"class":"num unit "}) #{unit} 
    script(type='text/javascript').
