doctype html
html
  head
   style
    include ../public/stylesheets/raspin-main.css

  body
   p webconsole powered by #{title}
   script(src="javascripts/jquery-3.1.1.js")
   script(src="javascripts/raspin-main.client.js")
   // - div(class='div-class', (click)='play()')
   div#main
   div#console_div
   div#dialog_machine(title="Empty the recycle bin?")>
    p
     span.ui-icon.ui-icon-alert(style="float:left; margin:12px 12px 20px 0;")These items will be permanently deleted and cannot be recovered. Are you sure?
