doctype html
html
  //head
  // style
    include ../public/stylesheets/raspin-main.css

  body
   p UT
   script(src="javascripts/jquery-3.1.1.js")
   script(src="javascripts/ut-server.js")
   // - div(class='div-class', (click)='play()')
   div#console
