doctype html
html
  head
   style
    include ../public/stylesheets/ui-data.css
  script(src="javascripts/ui-data.client.js")
  div.pv_base&attributes({'id':pvid, 'pvid':pvid, 'previous_processed_data_id':"", "data_type":type, 'layout_param':layout_param})
   p #{pvid}
   case type
     when "num"
       p.contents 
     when "video"
       img(src="http://192.168.2.123:8080/?action=stream")
     when "message"
       p.contents
   br