doctype html
html
  head
   style
    include ../public/stylesheets/ui-data.css
  script(src="javascripts/ui-data.client.js")
  - var controller_id =  "area_" + pvid
  div.pv_base&attributes({'id':controller_id, 'pvid':pvid, 'previous_processed_data_id':"", "data_type":type})
   p #{pvid}
   case type
     when "num"
       - var num_id = "num_" + pvid
       p&attributes({'id':num_id, }) -------
     when "video"
       - var num_id = "video_" + pvid
       img(src="http://192.168.2.123:8080/?action=stream")
     when "message"
       - var num_id = "message_" + pvid
       p&attributes({'id':num_id, }) -------
     default
       button.com&attributes({'pvid':pvid})(onclick="button_com_click(this.getAttribute('pvid'),  this.getAttribute('message_name'))")  #{available_message[index]}
  br