div.field{
 /*position:relative; top:0px; left:0px;*/
}
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
div.header{
    flex: 1 100%;
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  
  }
div.default.entire{
    background-color :#DDDDDD;
    margin:2% 0% 2% 0%;
    padding:2% 2% 2% 2%;
}
div.default.body{
  background-color :#ffffff;
  padding:1%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;  }
div.default.footer{
  background-color :#DDDDDD;
  padding:1%;
}
.default {
  margin:0px;
}
.default.box_title {
  font-size:24pt;
   
 }
 div.process_area {
  background-color :#ffffff;
  padding:1%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;   
  border: medium solid #aaaaaa;
  -webkit-flex-flow: row wrap;
 }
 p.caption.default {
  color:#888888;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  font-size: 24pt;

}
 p.if_caption.default {
  color:#888888;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  font-size: 16pt;

}