div.field{
 /*position:relative; top:0px; left:0px;*/
}
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
div.header{
    flex: 1 100%;
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  
  }
button {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
div.default.entire{
    background-color :#DDDDDD;
    margin:2% 0% 2% 0%;
    padding:2% 2% 2% 2%;
}
div.default.body{
  background-color :#ffffff;
  padding:1%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;  }
div.default.footer{
  background-color :#DDDDDD;
  padding:1%;
}
.default {
  margin:0px;
}
.default.box_title {
  font-size:24pt;
   
 }
 div.box {
  background-color :#ffffff;
  padding:1%;
  /*border: medium solid #aaaaaa;*/
 }
 div.process_area {
  background-color :#ffffff;
  padding:1%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;   
  -webkit-flex-flow: row wrap;
}
 div.if {
  float: left;
  margin:10px;
  display:table-cell;
}
div.if_number {
  background-color :#DDDDDD;
  padding:1%;
  height:80px;
}
div.if_arrow {
  background-color :#DDDDDD;
  padding:1%;
}
div.if_toggle {
  background-color :#DDDDDD;
  padding:1%;
  height:80px;
}
 p.caption.default {
  color:#888888;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  font-size: 24pt;

}
 p.if_caption.default {
  color:#888888;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  font-size: 16pt;

}
button.left{
  width:60px;
  height:60px;
  background-size:60px 60px;
  background-image: url("../images/allow_l.png");
 }
 
 button.right{
  width:60px;
  height:60px;
  background-image: url("../images/allow_r.png");
  background-size:60px 60px;
 }
 
 button.up{
  width:60px;
  height:60px;
  background-size:60px 60px;
  background-image: url("../images/allow_u.png");
 }
 
 button.down{
  width:60px;
  height:60px;
  background-size:60px 60px;
  background-image: url("../images/allow_d.png");
 }
 img.left{
  width:60px;
  height:60px;
  background-size:60px 60px;
  background-image: url("../images/allow_l.png");
 }
 
 img.right{
  width:60px;
  height:60px;
  background-size:60px 60px;
  background-image: url("../images/allow_r.png");
 }
 
 img.up{
  width:60px;
  height:60px;
  background-size:60px 60px;
  background-image: url("../images/allow_u.png");
 }
 
 img.down{
  width:70px;
  height:70px;
  background-image: url("../images/allow_d.png");
 }
 .num.contents{
  color: #888888;
  font-size: 48pt;

}
.num.unit {
  color: #888888;
  font-size: 24pt;

}
