button.direction{
 color: #000000;
 background-color: #f8dce0;
 background-size:70px 70px;
 width:70px;
 height:70px;
}

button.left{
 position:relative; top:70px; left:0px;
 
 background-image: url("../images/allow_l.png");
}

button.right{
 position:relative; top:70px; left:70px;
 background-image: url("../images/allow_r.png");
}

button.up{
 position:relative; top:-70px; left:70px;
 background-image: url("../images/allow_u.png");
}

button.down{
 position:relative; top:0px; left:0px;
 background-image: url("../images/allow_d.png");
}
button.inp{
 background-color: #00FF00;
}
button.com{
 background-color: #DDDDDD;
 font-size:24pt;
}

div.direction{
  position:relative; 
}

div.pv_base{
  word-wrap: nowrap;
  padding: 5px;
  background-color: #FFFFFF;
}
.default.controller_title {
 font-size:24pt;
  
}
.dir_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;  
}




img.left{
 position:relative; top:70px; left:0px;
 width:70px;
 height:70px;
 background-image: url("../images/allow_l.png");
}

img.right{
 position:relative; top:70px; left:70px;
 width:70px;
 height:70px;
 background-image: url("../images/allow_r.png");
}

img.up{
 position:relative; top:-70px; left:70px;
 width:70px;
 height:70px;
 background-image: url("../images/allow_u.png");
}

img.down{
 position:relative; top:0px; left:0px;
 width:70px;
 height:70px;
 background-image: url("../images/allow_d.png");
}
