.d_type_num{
    color:#888888;
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
    font-size: 24pt;
    padding:2%;
   
}
.d_type_video{
   
}
.d_type_message{
   
}
.unit {
    font-size: 12pt;

}

div.pv_d{
    margin :2% 2% 2% 2%;
    height:300px;
    padding: 5px;
    background-color: #FFFFFF;

}
div.default.message.contents{
    padding: 5px;
    display: block;
    height:10vh;
    overflow: scroll;
}
.video.contents{
    margin :1%;
}
